[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype
[submodule "lib/plutosvg"]
	path = lib/plutosvg
	url = https://github.com/sammycage/plutosvg
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
